@import '/src/style/variables.scss';

.adminSidebar {
    // width: 15%;
    background: #fff9fa;
    &-header {
        height: $header;
        width: 100%;
        background: black;
        & img {
            height: 100%;
            width: 100%;
        }
    }
    transition: all 1s;
}
