$color-base: #fdb7c0;
$color-gray-500: #adb5bd;
$color-gray-400: #ced4da;
$color-gray-300: #dee2e6;
$color-gray-200: #e9ecef;
$color-gray-100: #f8f9fa;

// margin, padding
$pm-5: 0.5rem;
$pm-10: 1rem;
$pm-15: 1.5rem;
$pm-20: 2rem;
$pm-25: 2.5rem;
$pm-60: 6rem;
$pm-80: 8rem;
$pm-160: 16rem;

// else
$header: 3rem;
